<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../utils/head'); %>
    </head>
<body>
	<div class="page">

        <div class="altdor-col col">
            <div class="middle">
                <div class="titulo">
                    <h1>Bem-Vindo</h1>
                    <p class="descricao">Faça login para jogar agora mesmo!</p>
                </div>
                
                <div class="opition-link">
                    <a href="/login">Login</a>
                </div>

            </div>

            
        </div>
    </div>

</body>
</html>