<!DOCTYPE html>
<html lang="pt-br">

<%- include('../../utils/head'); %>

<body>
    
    <div class="page">

        <div class="altdor-col col">
            <div class="middle">
                <div class="titulo">
                    <h1>Olá Professor(a)!</h1>
                    <p class="descricao">Bem-Vindo à sua área de avaliação!</p>
                </div>
            </div>
        </div>
		
		<div class="form-col col">
            <div class="middle">
                <div class="form">
                    
					<form action="/profe" method="POST" id="formLoginProf">
					    <div class="form-group">
                            <label for="name">E-mail</label>
                            <input type="text" class="form-control" id="user" name="user" placeholder="">

                            <label for="pass">Senha</label>
                            <input type="password" class="form-control" id="senha" name="senha" placeholder="">
                        </div>
						
						  <div class="form-group">
                            <div class="btns" >
                                <%- include('../../utils/components/btnVerde'); %>
                                <%- include('../../utils/components/btnLaranja'); %>

                            </div>
                        </div>
                        <div class="passRec">
                            <a href="/alterarsenha">Alterar Minha Senha!</a>
                        </div>
                    </form>

				</div>
            </div>
        </div>

    </div>
   
    <%- include('util'); %>

</body>


</html>