<!DOCTYPE html>
<html lang="pt-br">

<%- include('../../utils/head'); %>

<body>
	<div class="page">

		<div class="altdor-col col">
			<div class="middle">
				<div class="titulo">
					<h1>Cadastre-se!!</h1>
					<p class="descricao">Para se divertir e aprender, faça um cadastro rápido!</p>
				</div>
			</div>
		</div>

		<div class="form-col col">
			<div class="middle">
				<div class="form">

					<form action="/cadastrado" method="POST">

						<div class="form-group">
							<label for="nome">Nome</label>
							<input type="text" class="form-control" id="nome" name="nome" placeholder="Ex: João da Silva Santos">
							<label for="email">E-mail</label>
							<input type="text" class="form-control" id="email" name="email" placeholder="Ex: joao_santos@email.com">
						</div>

						<div class="form-group">
							<label for="idade">Idade</label>
							<input type="text" class="form-control" id="idade" name="idade" placeholder="10">
							<label for="senha">Senha</label>
							<input type="password" class="form-control" id="senha" name="senha" placeholder="">
							<label for="repass">Repita a Senha</label>
							<input type="password" class="form-control" id="repass" name="repass" placeholder="">
						</div>

						<div class="form-group">
							<div class="btns">
								<%- include('../../utils/components/btnVerde'); %>
								<%- include('../../utils/components/btnVermelho'); %>
								<!--<button class="btn btnCadastro" id="btnCadastro" name="btnCadastro" type="submit" value="">Cadastrar</button>-->
								<!-- <button class="btn btnCancelar" id="btnCancelar" name="btnCancelar" type="" value="">Cancelar</button>-->
							</div>
						</div>

					</form>

					<div class="passRec">
						<a href="/login"> Já possui cadastro </a>
					</div>
					
				</div>
			</div>
		</div>

	</div>

	<%- include('util'); %>

</body>

</html>