<!DOCTYPE html>
<html lang="pt-br">

<%- include('../../utils/head'); %>


<body>
    <div class="dash">
        <div class="title">
            <h1 class="descricao"> Informações de desempenho por Usuário </h1>
        </div>

        <div class="middle">
            <img src="/static/img/desempenho.png" alt="">
        </div>


        <div class="formDesen middle">
        <form action="/getniveis" method="POST">

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                
            <select name="comboBox" id="comboBox" class="comboBox">

                <option value="" selected>Selecione um jogador</option>
                <% for(var i = 0; i < dados.length; i++) { %>
                <option value="<%= dados[i].email %>">
                    <%= dados[i].nome %>
                </option>
                <% } %>
                
            </select>

            

            <button id="verDados">Ver dados</button>
        </form>
        </div>
                
    </div>

    
</body>

</html>