<!DOCTYPE html>
<html lang="en">

<head>
	<%- include('../partials/head'); %>
</head>

<body>
    
    <div class="page">

        <div class="altdor-col col">
            <div class="middle">
                <div class="titulo">
                    <h1>Faça Login!</h1>
                    <p class="descricao">Para se divertir e aprender é só fazer login!</p>
                </div>
            </div>
        </div>
		
		<div class="form-col col">
            <div class="middle">
                <div class="form">
				
					<form action="" method="POST">
					    <div class="form-group">
                            <label for="email">E-mail</label>
                            <input type="text" class="form-control" id="email" name="email" placeholder="Ex: joao_santos@email.com">

                            <label for="pass">Senha</label>
                            <input type="password" class="form-control" id="pass" name="pass" placeholder="">
                        </div>
						
						  <div class="form-group">
                            <div class="btns">
                                <button class="btnLogin" id="btnLogin" name="btnLogin" type="submit" value="">Entrar</button>
                                <button class="btnFCadastro" id="btnFCadastro" name="btnFCadastro" type="" value="">Cadastrar</button>
                            </div>
                        </div>
                    </form>
                    
                    <div class="passRec"><a href="#">Esqueci a Senha!</a></div>

				</div>
            </div>
        </div>

    </div>
   
	<%- include('../partials/scripts'); %>

</body>


</html>