<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Login</title>
		</head>
	<body>

		<h1>Login</h1>

		<table>

			<tr>
				<th>id</th>
				<th>nome</th>
			</tr>

			<tr>
				<td><%= login[0].id_jogador %></td>
				<td><%= login[0].apelido_jogador %></td>
			</tr>
			


		</table>

	</body>
</html>
