<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../utils/head'); %>
    </head>
<body>
	<div class="page">

        <div class="altdor-col col">
            <div class="middle">
                <div class="titulo">
                    <h1>Bem-Vindo</h1>
                    <p class="descricao">QUER JOGAR? FAÇA SEU LOGIN OU CADASTRE-SE AGORA!</p>
                </div>
                
                <div class="opition-link">
                    <a href="/login">Login</a>
                    <a href="/cadastro">Cadastrar-se</a>
                    <!--<a href="/game"> GAME </a>-->

                </div>

            </div>

            
        </div>
    </div>


    <%- include('util'); %>

</body>
</html>